# /etc/appaserver.config
# ----------------------
[client]
password=secret
[other]
appaserver_group=appaserver
appaserver_mount_point=/var/appaserver
document_root=/var/www/html
appaserver_error_directory=/var/log/appaserver
appaserver_data_directory=/var/appaserver_data
default_database=mysql
mysql_user=root
mysql_flags=-Nr -f
mysql_host=
mysql_tcp_port=
mysql_pwd=
apache_cgi_directory=/cgi-bin
cgi_home=/usr/lib/cgi-bin
