# /etc/appaserver.config
# ----------------------
[client]
password=secret
[other]
appaserver_mount_point=/var/appaserver
appaserver_group=appaserver
document_root=/var/www/html
default_database=mysql
cgi_home=/usr/lib/cgi-bin
mysql_user=root
appaserver_error_directory=/var/log/appaserver
appaserver_data_directory=/var/appaserver_data
mysql_flags=-Nr -f
mysql_host=
mysql_tcp_port=
apache_cgi_directory=/cgi-bin
